<div class="container">
  <div class="row">
   <h3 align="ceneter">Area Coverage</h3>
  </div>
  <br/>
  <div class="row">
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Village Name</th>
        <th>HealthCamp attendees</th>
        <th>Blood Samples Collected</th>
        <th>Percentage of Blood Samples Collected</th>
        <th>Health Camp Dates</th>
      </tr>
    </thead>
    <tbody>
      <tr>        <td>Barshi-Ward no: 23</td>
                  <td>300</td>
                  <td>225</td>
                  <td>75%</td>
                  <td>April 23 2016, April 24 2016</td>
     </tr>
     <tr>        <td>Barshi-Ward no: 11</td>
                 <td>400</td>
                 <td>320</td>
                 <td>80%</td>
                 <td>May 10 2016, May 11 2016</td>
    </tr>
    <tr>        <td>Mirzanpur</td>
                <td>200</td>
                <td>180</td>
                <td>90%</td>
                <td>March 21 2016, Marrch 22 2016</td>
   </tr>
   <tr>        <td>Gaudaon</td>
               <td>300</td>
               <td>150</td>
               <td>50%</td>
               <td>June 11 2016, June 12 2016</td>
  </tr>

    </tbody>
  </table>
</div>
