<div class="container">
  <div class="row">
   <h3 align="ceneter">Transportation Boxes</h3>
  </div>
  <br/>
  <div class="row">
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Date of transportation</th>
        <th>Box ID</th>
        <th>No. of Filled Racks</th>
        <th>No. of Partially Filled Racks</th>
        <th>No. of Samples</th>
        <th>Area Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>        <td>April 23 2016</td>
                  <td>TB104341</td>
                  <td>4</td>
                  <td>10</td>
                  <td>223</td>
                  <td>Mirzanpur</td>
     </tr>

     <tr>        <td>March 10 2016</td>
                 <td>TB100321</td>
                 <td>5</td>
                 <td>4</td>
                 <td>275</td>
                 <td>Gaudaon</td>
    </tr>

    <tr>        <td>June 05 2016</td>
                <td>TB201421</td>
                <td>3</td>
                <td>2</td>
                <td>175</td>
                <td>Bhandegaon</td>
   </tr>

   <tr>        <td>March 30 2016</td>
               <td>TB201521</td>
               <td>3</td>
               <td>1</td>
               <td>175</td>
               <td>Alipur</td>
  </tr>


  <tr>        <td>June 02 2016</td>
              <td>TB101521</td>
              <td>3</td>
              <td>2</td>
              <td>160</td>
              <td>Ambegaon</td>
 </tr>

 <tr>        <td>March 25 2016</td>
             <td>TB301121</td>
             <td>2</td>
             <td>4</td>
             <td>150</td>
             <td>Bavachi</td>
</tr>

<tr>        <td>February 02 2016</td>
            <td>TB101621</td>
            <td>5</td>
            <td>4</td>
            <td>254</td>
            <td>Loni</td>
</tr>

<tr>       <td>May 16 2016</td>
           <td>TB601121</td>
           <td>2</td>
           <td>4</td>
           <td>150</td>
           <td>Khasgaon</td>
</tr>


    </tbody>
  </table>
</div>
